<div id="jqp-month-chart"></div>
<div id="jqp-year-chart"></div>


<h1 class="header">Försäljning</h1>

<div id="main-container">
    <div id="bar-chart">
        <h2 id="month-header" class="header"></h2>
        <table id="mc-month-chart">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><td id="invoiced"></td></tr>
                <tr><td id="approved"></td></tr>
                <tr><td id="budget"></td></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Fakturerat</td><td>Godkänt</td><td>Budget</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="line-chart">
        <h2 id="year-header" class="header"></h2>
        <table id="mc-year-chart">
            <thead>
                <tr>
                    <th>Försäljning</th><th>Budget</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
