#writer-canvas {
    background-color: #000;
}

#char-matrix {
    width: 640px;
    height: 640px;
    border: 1px solid black;
    position: relative;
    font-family: Courier;
    font-size: 11px;
    font-weight: bold;
    color: white;
}

.char-sprite {
    background-color: black;
    position: absolute;
}


.imgchar-double-size {
    width: 16px;
    height: 16px;
}

.textcolor-white {
    background-color: white;
}

.cav-of-sillahc {
    background-image: url(/public/writer/images/cav_of_sillahc_x2.png);
}